Cleaning process for Credit Customer datasets from kaggle

In [18]:
import pandas as pd

In [19]:
pd.__version__

'2.3.3'

In [20]:
data = pd.read_csv("credit_customers.csv")

In [21]:
data.columns

Index(['checking_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings_status', 'employment',
       'installment_commitment', 'personal_status', 'other_parties',
       'residence_since', 'property_magnitude', 'age', 'other_payment_plans',
       'housing', 'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker', 'class'],
      dtype='object')

In [22]:
data.drop(columns=['checking_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings_status', 'employment',
       'installment_commitment','num_dependents','other_payment_plans'],inplace=True)

In [25]:
data

,personal_status,other_parties,residence_since,property_magnitude,age,housing,existing_credits,job,own_telephone,foreign_worker,class
0,male single,none,4.0,real estate,67.0,own,2.0,skilled,yes,yes,good
1,female div/dep/mar,none,2.0,real estate,22.0,own,1.0,skilled,none,yes,bad
2,male single,none,3.0,real estate,49.0,own,1.0,unskilled resident,none,yes,good
3,male single,guarantor,4.0,life insurance,45.0,for free,1.0,skilled,none,yes,good
4,male single,none,4.0,no known property,53.0,for free,2.0,skilled,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...
995,female div/dep/mar,none,4.0,real estate,31.0,own,1.0,unskilled resident,none,yes,good
996,male div/sep,none,4.0,life insurance,40.0,own,1.0,high qualif/self emp/mgmt,yes,yes,good
997,male single,none,4.0,car,38.0,own,1.0,skilled,none,yes,good
998,male single,none,4.0,no known property,23.0,for free,1.0,skilled,yes,yes,bad
999,male single,none,4.0,car,27.0,own,1.0,skilled,none,yes,good

In [ ]:
data.columns

Index(['personal_status', 'other_parties', 'residence_since',
       'property_magnitude', 'age', 'housing', 'existing_credits', 'job',
       'own_telephone', 'foreign_worker', 'class'],
      dtype='object')

In [31]:
Capital = []
for i in data.columns:
    Capital.append(i.capitalize())
Capital
data.columns =  Capital
data.columns

Index(['Personal_status', 'Other_parties', 'Residence_since',
       'Property_magnitude', 'Age', 'Housing', 'Existing_credits', 'Job',
       'Own_telephone', 'Foreign_worker', 'Class'],
      dtype='object')

In [44]:
data["Class"] = data["Class"].apply(lambda x:1 if x=="good" else 0)

In [40]:
data["Existing_credits"].unique()

array([2., 1., 3., 4.])

In [42]:
data["Existing_credits"] = data["Existing_credits"].astype(int)

In [48]:
data["Other_parties"].unique()

array(['none', 'guarantor', 'co applicant'], dtype=object)

In [49]:
data.to_csv("cleaned_data.csv", index=False)